{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Wyniki wyszukiwania</h1>
    
    <div class="row">
        
        {% include 'AppBundle:Movie:list.html.twig' with {'movies': movies} %}
      
    </div>
        
{% endblock %}
